/* Основной цвет текста  #757575*/
/* Цвет текста заголовков #212121 */
/* Цвет текста адреса (почта и тел) rgba(255, 255, 255, 0.6) */
/* Цвет текста при активности #2196F3 */
:root {
  --title-color: #212121;
  --main-text-color: #757575;
  --activ-text-color: #2196f3;
}

body {
  width: 1600px;
  color: var(--main-text-color);
  background-color: #ffffff;
}

.title {
  color: var(--title-color);
}

.head .logo {
  color: #000000;
}

.head .logo-color {
  color: #2196f3;
}

.head .tel-mail {
  color: var(--main-text-color);
}

.head .title:hover,
.head .title:focus {
  color: var(--activ-text-color);
}

.head .tel-mail:hover,
.head .tel-mail:focus {
  color: var(--activ-text-color);
}
